
@{
    ViewBag.Title = "Galerie";
}



<div class="block-2 pad-2">
    <div class="block-4 col-3">
        <div class="h2">
            <h2 class="h2-line-2">Notre Gallerie:</h2>
        </div>
        <ul id="mycarousel-1" class="jcarousel-skin-tango">
            <li><a class="plus" href="~/Content/images/gallery-1-big.jpg"><img src="~/Content/images/gallery-1.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-2-big.jpg"><img src="~/Content/images/gallery-2.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-3-big.jpg"><img src="~/Content/images/gallery-3.jpg" alt=""></a></li>
            <li><a class="plus" href="~/Content/images/gallery-4-big.jpg"><img src="~/Content/images/gallery-4.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-5-big.jpg"><img src="~/Content/images/gallery-5.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-6-big.jpg"><img src="~/Content/images/gallery-6.jpg" alt=""></a></li>
            <li><a class="plus" href="~/Content/images/gallery-7-big.jpg"><img src="~/Content/images/gallery-7.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-8-big.jpg"><img src="~/Content/images/gallery-8.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-9-big.jpg"><img src="~/Content/images/gallery-9.jpg" alt=""></a></li>
            <li><a class="plus" href="~/Content/images/gallery-10-big.jpg"><img src="~/Content/images/gallery-10.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-11-big.jpg"><img src="~/Content/images/gallery-11.jpg" alt=""></a><a class="plus" href="~/Content/images/gallery-12-big.jpg"><img src="~/Content/images/gallery-12.jpg" alt=""></a></li>
        </ul>
    </div>
</div>
